@keyframes fall {
    100% { transform: translateY(0); }
}
:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    .actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid gray;
        > .players {
            flex: 1;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            > .player {
                flex: 1;
                text-align: center;
                &::after {
                    content: '';
                    display: inline-block;
                    margin-left: 5px;
                    height: 10px;
                    width: 10px;
                    background-color: red;
                    border-radius: 50%;
                    border: 1px solid gray;
                }
                &.connected::after {
                    background-color: green;
                }
            }
        }
    }
    .board-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .currentGame {
            width: 100%;
            display: flex;
            justify-content: center;
            >.board {
                width: 80%;
                display: flex;
                position: relative;
                >.column {
                    cursor: pointer;
                    flex: 1;
                    display: flex;
                    flex-direction: column-reverse;
                    position: relative;
                    &:hover>.tile::after {
                        background: radial-gradient(circle, transparent 55%, cornflowerblue 55%, cornflowerblue 100%);
                    }
                    >.tile {
                        flex: 1;
                        padding-top: 100%;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            background: radial-gradient(circle, transparent 55%, #1F4788 55%, #1F4788 100%);
                            background-position: center center;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;;
                        }
                        >.coin {
                            position: absolute;
                            transform: translateY(-100%);
                            top: 0;
                            left: 0;
                            border-radius: 50%;
                            margin: 1px;
                            height: calc(100% - 2px);
                            width: calc(100% - 2px);
                            animation-name: fall;
                            animation-timing-function: cubic-bezier(1,1.5,.5,.75);
                            animation-fill-mode: forwards;
                            &.yellow {
                                background-color: yellow;
                            }
                            &.red {
                                background-color: red;
                            }
                        }
                    }
                }
                >.loader-container {
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background-color: rgba(0,0,0,.3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .loader {
                        text-align: center;
                        padding: 30px;
                        background-color: white;
                        border: 1px solid gray;
                    } 
                }
            }
        }
    }
}