<header class="p-2">
    <div class="left">
        <button pButton class="p-button-outlined mobile-hidden" (click)="toggleMenu()" [icon]="menuOpen ? 'pi pi-times' : 'pi pi-bars'"></button>
    </div>
    <div class="right">
        <button pButton class="p-button-outlined" (click)="logout()" icon="pi pi-power-off"></button>
    </div>
</header>
<main>
    <aside [ngClass]="{menuOpen}" app-games>
        <div *ngIf="!currentGame" class="p-2">
            <button pButton class="p-button-success" (click)="openCreateGameDialog()">Créer une partie</button>
        </div>
    </aside>
    <app-board></app-board>
</main>
<p-dialog [modal]="true"
          [(visible)]="dialogOpen"
          [breakpoints]="{'992px': '95vw'}"
          [style]="{width: '50vw'}">
    <app-create-game (close)="dialogOpen = false"></app-create-game>
</p-dialog> 
