:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        background-color: white;
        > div {
            height: 70px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            >* {
                margin: 0 20px;
            }
            &.left {
                justify-content: flex-start;
            }
            &.right {
                justify-content: flex-end;
                > .connectedUser {
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
        }
    }
    main {
        position: relative;
        display: flex;
        height: 100%;
        aside {
            display: block;
            width: 50%;
            border-right: 1px solid gray;
            background: white;
            height: 100%;
            overflow-y: scroll;
        }
    }
    @media screen and (max-width: 768px) {
        header {
            z-index: 1001;
            position: fixed;
            width: 100%;
        }
        main {
            padding-top: 70px;
            aside {
                z-index: 1000;
                width: 100%;
                position: fixed;
                transform: translateX(-100%);
                transition: transform .3s ease;
                &.menuOpen {
                    transform: translateX(0);
                }
            }
        }
    }
}