<header class="p-2">
    <div class="left">
        <button pButton class="p-button-outlined mobile-hidden" (click)="toggleMenu()" [icon]="menuOpen ? 'pi pi-times' : 'pi pi-bars'"></button>
    </div>
    <div class="right">
        <button pButton class="p-button-outlined" (click)="logout()" icon="pi pi-power-off"></button>
    </div>
</header>
<main>
    <aside [ngClass]="{menuOpen}" (createButtonclick)="toggleCreateGameDialog(true)" app-games></aside>
    <app-board></app-board>
</main>
<p-dialog [modal]="true"
          [visible]="dialogOpen"
          [closable]="false"
          [breakpoints]="{'992px': '95vw'}"
          [style]="{width: '50vw'}">
    <app-create-game (close)="toggleCreateGameDialog(false)"></app-create-game>
</p-dialog> 
